# dependencies
node_modules

# logs
npm-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log

package-lock.json
yarn-lock

nohup.out

.eslintcache

# Nuxt build
.nuxt

# Nuxt generate
dist

# misc
.DS_Store

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.json
config.js

.idea
.vs
.vscode
