
.controls {

    > * {
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $family-secondary;
    }

    .type-filter {
        min-width: 150px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 997px) {
            width: 100%;
            margin: 5px auto;
            border-top: 2px solid $primary;
            padding-top: 10px;
        }
    }    

    .count-filter {        
        min-width: 175px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        input {
            text-align: center;
            font-size: 1.25rem;
            width: 55px;
            border-left: 1px solid $pale-grey;
            border-top: 1px solid $pale-grey;
            border-bottom: 1px solid $pale-grey;
        }
        input[type='number']::-webkit-inner-spin-button, 
        input[type='number']::-webkit-outer-spin-button { 
            opacity: 1;
        }
        @media (max-width: 997px) {
            width: 100%;
            margin: 5px auto;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }    

    #fetch-button {
        display: block;
        background-color: $ocean-dark;
        border: none;
        border-radius: 0;
        min-width: 200px;
        overflow: hidden;
        transition: all .25s ease;
        color: $white;
        h2, h3 {
            font-size: 1.25rem;
        }
        @media (max-width: 997px) {
            width: 100%;
            margin: 10px auto 0px;
        }
    }

}