
.controls {

    > * {
        margin: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $family-secondary;
    }

    .type-filter {
        min-width: 150px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 997px) {
            width: 100%;
            margin: 5px auto;
            border-top: 2px solid $primary;
            padding-top: 10px;
        }
    }    

    .count-filter {        
        min-width: 175px;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        input {
            text-align: center;
            font-size: 1.25rem;
            width: 55px;
            border-left: 1px solid $pale-grey;
            border-top: 1px solid $pale-grey;
            border-bottom: 1px solid $pale-grey;
        }
        input[type='number']::-webkit-inner-spin-button, 
        input[type='number']::-webkit-outer-spin-button { 
            opacity: 1;
        }
        @media (max-width: 997px) {
            width: 100%;
            margin: 5px auto;
            border-top: 2px solid $primary;
            border-bottom: 2px solid $primary;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }    

    #fetch-button {
        position: relative;
        display: block;
        background-color: $ocean-dark;
        border: 2px solid $ocean-dark;
        border-radius: 0;
        color: $white;
        min-width: 200px;
        overflow: hidden;
        transition: all .25s ease;
        z-index: 1;
        transform: scale(0.9);
        h2, h3 {
            font-size: 1.25rem;
            z-index: 2;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background: $ocean-back;
            transition: all .25s ease;
            z-index: -1;
        }
        &:hover, &:focus, &:active {
            color: $ocean-dark;
            &:after {
                width: 101%;                
            }
        }
        @media (max-width: 997px) {
            width: 100%;
            margin: 10px auto 0px;
        }
    }

}