
// Import the initial variables
@import "~bulma/sass/utilities/initial-variables";

// Set own variables
$blue: #72d0eb;

// Set derived variables
$primary: #0589b5;
$primary-fade: rgba(5, 137, 181, .8);
$secondary: $primary;
// $secondary: #4CAF50;
$tertiary: #004b61;
$tertiary-fade: rgba(0, 75, 97, .75);
$bloodRed: #8e0000;
$background: #f4f4f4;
$background2: #eee;
$pale-grey: #dbdbdb;
$info: $tertiary;

// heros 
.hero, .hero .container {
    position: relative;    
    @media (max-width: 997px) {
        .hero-body {
            padding: 1.5rem;
        }
    }   
}

// cards
$card-shadow: 1px 2px 1px 1px rgba($black, 0.1), 0 0 1px 1px rgba($black, 0.1);

// font
$family-primary: 'EB Garamond', serif;
$family-secondary: 'Old Standard TT', serif;

// get the rest of bulma
@import "~bulma/bulma";

// import other personal styles
@import "./moby";