// user defined util styles and overrides

// titles
.title {
    font-weight: normal;
    color: $primary;
}
.subtitle {
    font-style: italic;
    strong {
        color: $ocean-pale;
    }
}

// blockquotes
blockquote {
    font-family: $family-secondary;
    font-size: 1.5rem;
    .border {
        border-left: 6px solid $primary;
        padding-left: 18px;
    }
}

// columns
.columns {
    margin-bottom: 2.5rem !important;
    border-radius: 0;
}

// quotes display card
.moby-dick-quotes-main {
    margin: 30px auto;
    @media (max-width: 1800px) {
        padding-left: 225px;
    }  
    @media (max-width: 767px) {
        padding-left: 0;
    }  
    .card-footer {
        border-bottom: 1px solid $pale-grey;
        flex-wrap: wrap;
        .card-footer-item {
            border-radius: 0;
            border: none;
            &:nth-child(odd){
                border-right: .5px solid $pale-grey;
            }
            &:nth-child(even){
                border-left: .5px solid $pale-grey;                
            }
            @media (max-width: 767px) {
                border: 0.5px solid #dbdbdb;
            }  
        }
    }
    .card-content {
        > .box {
            @media (max-width: 767px) {
                align-items: flex-start;
            }   
        }
        li.box.columns {
            position: relative;
            &:before {
                content: '\f10d';
                position: absolute;
                display: block;
                top: 3px;
                left: 10px;
                height: 0;
                width: 0;
                color: $ocean;
                font-style: italic;
                font-family: FontAwesome;
                font-size: 1.3rem;
            }
            &:after {
                content: '\f10e';
                position: absolute;
                display: block;
                bottom: 35px;
                right: 35px;
                height: 0;
                width: 0;
                color: $ocean;
                font-style: italic;
                font-family: FontAwesome;
                font-size: 1.3rem;
            }
        }
    }
}

// hero
.moby-dick-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    z-index: 999;
    background: $ocean-dark;
}

// logo
.whale-logo {
    fill: rgba(255, 255, 255, 0.1);
    fill: $ocean;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 85px;
    width: 300px;
    transform: translate(-75%,0);
    z-index: -1;
    @media (max-width: 1400px) {
        transform: rotateY(180deg);
        right: 0;
        left: unset;
        height: 150px;
        opacity: 0.6;
    }   
}

// icons
.fas, .fa {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.25rem;
    * {
        font-family: FontAwesome;
        font-style: normal;
    }
}
.icon {
    margin: 5px 10px;
    &.bordered {        
      margin: 5px 10px;
      padding: 16px 15px 15px 16px;
      border: 1px solid $info;
      background: $background2;
      border-radius: 3px;
    }
    &.copy-to-clipboard {
        position: relative;
        transition: all .1s ease-out;
        color: $info;
        &:hover {
            cursor: pointer;
            background: $info;
            .fa, .fas {
                color: $white;
            }
        }
    }
} 

// buttons 
.button {
    height: auto;
    &#fetch-button {
        display: block;
        margin: 0 0 0 0;
        background-color: $ocean;
        border: none;
        border-bottom: 1px solid $ocean;
        border-radius: 0;
        color: $white;     
        font-family: $family-secondary;
        z-index: 1;
        overflow: hidden;
        flex: 1 0 100%;
        &:hover, &:active, &:focus {
            background-color: $ocean-dark;
            color: $white;                 
        }
    }       
}

// sidebar
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 225px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    .sidebar-controls {
        max-width: 100%;
        border-left: 8px solid $ocean-dark;
        > * {
            background: $white;
            padding: 15px 0;
            &:not(:last-child) {
                border-bottom: 1px solid $ocean-dark;
            }
            &.button, &.btn {
                padding: 60px 0;
            }
        }
        @media (min-width: 1367px) {
            // transform: translate(0,-50%);
        }  
        @media (max-width: 767px) {
            display: none;
        }  
    }
}

// range slider
.slider-control {
    width: 100%;
    span {
        &.slider-title {
            margin-bottom: 10px;
            strong {
                text-decoration: underline;
                padding: 0 5px;
                font-size: 1.75rem;
            }
        }
        &.slider-labels {
            padding: 0 10px;
            color: $ocean-dark;
            @media ( max-width: 767px ) {
                display: none;
            }
        }
    }
}
// the actual slider
.level {
    margin: 10px auto;
    @media ( max-width: 767px ) {
        margin: 30px auto;
    }
    .slider {
        -webkit-appearance: none;
        width: auto;
        max-width: 100%;
        height: 15px;
        margin: 10px auto;
        border-radius: 5px;   
        background: $ocean-dark;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%; 
        background: $ocean;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $ocean;
        cursor: pointer;
    }
}


// toggle
#content-type-toggle {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    .toggle-span {
        padding: 10px;
        margin: 0;
        color: $black;
    }
    label.switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 32px;
        margin: 10px 10px;
        transform: rotate(90deg);
        input {
            &:checked {
                + .slider {
                    border: 1px solid $primary;
                    &:before {
                        transform: translateX(26px);							
                    }						
                }
            }
        }
        span.slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $white;
            border: 1px solid $info;
            border-radius: 30px;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 2px;
                bottom: 2px;
                background-color: $ocean;
                border-radius: 50%;
                transition: .4s;					
            }				
        }
    }
    @media ( max-width: 767px ) {
        flex-direction: column;
        .toggle-span {
            margin: 5px 0;
        }
    }
}