// user defined util styles and overrides

// titles
.title {
    font-weight: normal;
    color: $primary;
}
.subtitle {
    font-style: italic;
    strong {
        color: $primary;
    }
}

// blockquotes
blockquote {
    font-family: $family-secondary;
    font-size: 1.5rem;
    .border {
        border-left: 6px solid $primary;
        padding-left: 18px;
    }
}

// columns
.columns:not(:last-child) {
    margin-bottom: 1.5rem;
}

// buttons 
.button {
    height: auto;
}

// quotes display card
.moby-dick-quotes-main {
    margin: 30px auto;
    .card-footer {
        border-bottom: 1px solid $pale-grey;
        flex-wrap: wrap;
        .card-footer-item {
            border-radius: 0;
            border: none;
            &:nth-child(odd){
                border-right: .5px solid $pale-grey;
            }
            &:nth-child(even){
                border-left: .5px solid $pale-grey;                
            }
            &.button, &.btn {
                color: $secondary;
                transition: all .25s ease;
                &.search-button {
                    flex: 1 0 100%;
                    background: $black;
                    border: .5px solid $tertiary;
                    border-left: none;
                    border-right: none;
                    color: $white;
                    font-family: $family-secondary;
                    &:hover {
                        background: $tertiary;                        
                    }
                }
            }
            @media (max-width: 767px) {
                border: 0.5px solid #dbdbdb;
            }  
        }
    }
    .card-content {
        > .box {
            @media (max-width: 767px) {
                align-items: flex-start;
            }   
        }
    }
}

// logo
.whale-logo {
    fill: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 300px;
    transform: translate(-75%,0);
    @media (max-width: 997px) {
        transform: rotateY(180deg);
        right: 0;
        left: unset;
    }   
}

// icons
.fas, .fa {
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.25rem;
    * {
        font-family: FontAwesome;
        font-style: normal;
    }
}
.icon {
    margin: 5px 10px;
    &.bordered {        
      margin: 5px 10px;
      padding: 16px 15px 15px 16px;
      border: 1px solid $info;
      background: $background2;
      border-radius: 3px;
    }
    &.copy-to-clipboard {
        position: relative;
        transition: all .1s ease-out;
        &:hover {
            cursor: pointer;
            background: $info;
            .fa, .fas {
                color: $white;
            }
        }
    }
} 

// range slider
.slider-control {
    width: 100%;
    span {
        &.slider-title {
            margin-bottom: 10px;
            strong {
                text-decoration: underline;
                padding: 0 5px;
                font-size: 1.75rem;
            }
        }
        &.slider-labels {
            padding: 0 10px;
            color: $secondary;
            @media ( max-width: 767px ) {
                display: none;
            }
        }
    }
}
// the actual slider
.level {
    margin: 10px auto;
    @media ( max-width: 767px ) {
        margin: 30px auto;
    }
    .slider {
        -webkit-appearance: none;
        width: auto;
        max-width: 100%;
        height: 15px;
        margin: 10px auto;
        border-radius: 5px;   
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        transition: opacity .2s;
    }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 50%; 
        background: $secondary;
        cursor: pointer;
    }
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $secondary;
        cursor: pointer;
    }
}


// toggle
#content-type-toggle {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    .toggle-span {
        padding: 2px 6px;
        margin: 0;
        color: $black;
    }
    label.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    margin: 0 10px;
        input {
            &:checked {
                + .slider {
                    border: 1px solid $primary;
                    &:before {
                        transform: translateX(26px);							
                    }						
                }
            }
        }
        span.slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $white;
            border: 1px solid $info;
            border-radius: 30px;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 23px;
                width: 24px;
                left: 4px;
                bottom: 3px;
                background-color: $primary;
                border-radius: 50%;
                transition: .4s;					
            }				
        }
    }
    @media ( max-width: 767px ) {
        flex-direction: column;
        .toggle-span {
            margin: 5px 0;
        }
    }
}